<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NoOJ</title>
    </head>
    <body>
        <form action="/style/submit/" method="get">
            <input type="text" name="git_link" value="输入git连接"><br>
            <input type="radio" name="check_method" value="1">Checkstyle<br>
            <input type="radio" name="check_method" value="2">Findbugs<br>
            <input type="radio" name="check_method" value="3">Submit!<br>
            <input type="submit" value="搜索">
        </form>
    </body>
</html>
